<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="static/assets/images/png-1-121x121.png" type="image/x-icon">
    <meta name="description" content="">
    <title>Home</title>
    <link rel="stylesheet" href="static/assets/tether/tether.min.css">
    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="static/assets/dropdown/css/style.css">
    <link rel="stylesheet" href="static/assets/theme/css/style.css">
    <link rel="preload" as="style" href="static/assets/mobirise/css/mbr-additional.css">
    <link rel="stylesheet" href="static/assets/mobirise/css/mbr-additional.css" type="text/css">
    
</head>

<body>
    
    <section class="extMenu12 menu popup-btn-cards cid-suK2WJoOI6" once="menu" id="extMenu13-6">
        <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
            <div class="mbr-overlay" style="opacity: 0.8;"></div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="left-menu">
                    <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                        <li class="nav-item">
                            <a class="nav-link link text-black display-4" href="#"></a>
                        </li>
                    </ul>
                </div>
                <div class="brand-container">
                    <div class="navbar-brand">
                        <span class="navbar-logo">
                            <a href="#">
                                <img src="static/assets/images/png-1-121x121.png" alt="" style="height: 8rem;">
                            </a>
                        </span>
                    </div>
                </div>
                <div class="right-menu">
                    <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                        <li class="nav-item">
                            <a class="nav-link link text-black display-4" href="#">&nbsp; &nbsp; &nbsp;&nbsp;</a>
                        </li>
                    </ul>
                </div>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
        </nav>
    </section>
    <section class="header6 cid-suJVF4wwhK mbr-fullscreen" id="header6-1">
        <div class="mbr-overlay"></div>
        <div class="align-center container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10">
                    <div class="mbr-section-btn mt-3"><a class="btn btn-danger display-4" style="width: 35%; font-size: x-large;" href="{% url 'login' %}">ENTER</a></div>
                </div>
            </div>
        </div>
    </section>
    <script src="static/assets/web/assets/jquery/jquery.min.js"></script>
    <script src="static/assets/popper/popper.min.js"></script>
    <script src="static/assets/tether/tether.min.js"></script>
    <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/assets/smoothscroll/smooth-scroll.js"></script>
    <script src="static/assets/dropdown/js/nav-dropdown.js"></script>
    <script src="static/assets/dropdown/js/navbar-dropdown.js"></script>
    <script src="static/assets/touchswipe/jquery.touch-swipe.min.js"></script>
    <script src="static/assets/theme/js/script.js"></script>
</body>

</html>